header {
  height: 400px;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  background-color: #a3a17f;
  background-image: url("../images/background-texture.png");

}

header div h2 {
  color: #FFFFFF;
  margin: 0;
}
header div h2 span {
  font-weight: 300;
}
