#header {
  height: 400px;
  width: 100vw;
  margin-top: 120px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  background-color: #D79923;
  background-image: url("../images/background-texture.png");

}

.header__name {
  color: #FFFFFF;
  margin: 0;
}
.header__name span {
  font-weight: 300;
}
