#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
}
.navbar__logo {
  font-family: Bungee, cursive, sans-serif;
}
.navbar__button {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  
  border-style: none;
  background-color: #4056A1;
}
.navbar__button p, i {
  margin: 0 auto;
  color: #FFFFFF;
}
.navbar__button i {
  color: red;
}