nav {
  position: fixed top;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* z-index: 1; check if this is the CSS rule that causes nav to be displayed in front of header */
  
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
}
nav > span {
  font-family: Bungee, cursive, sans-serif;
}
nav > div {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;

}
nav > div > p, i {
  margin: 0 auto;
}
nav > div > i {
  color: red;
}