.new-tweet--form {
  display: flex;
  flex-flow: column nowrap;
}
#tweet-text {
  width: 90vw;
  height: 1.5em;
  
  /* removes default textarea styles */
  border: none;
  resize: none;
  outline: none;
  
  background-color: #f4f1ec;
  border-bottom: 3px solid black;
  font-weight: 300;
}
.new-tweet--form label {
  font-weight: 600;
}
.new-tweet--form > div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 0.5em;

  font-family: Bungee, cursive, sans-serif;
}
.new-tweet__button {
  background-color: #4056A1;
  color: #FFFFFF;
}
.new-tweet__button:hover {
  cursor: pointer;
}